################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/ms-recommend-net/.vs/ms-recommend-net
/ms-usr/.vs/ms-usr
/ms-badge/.vs/ms-badge
/data/obj/Debug/net8.0
/data/obj/Release/net8.0
/data/obj

back-python/venv/
back-python/__pycache__/
back-python/app/__pycache__/
back-python/app/ressources/__pycache__/
/back-python/data/Plus/
/back-python/data/DataMovies/
/back-python/data/Rawdata/
